:root {
  --ci-primary-main: #3ab53a;
  --ci-primary-shade: #005620;
  --ci-primary-dark: #004c23;
  --ci-secondary-main: #e3af48;

  --cta-background: var(--ci-primary-main);
  --cta-text-color: #fafcfa;
  --main-color: #000;
  --main-text: #000;
  --secondary-text: #888;
  --main-background: #f2f5f2;
  --main-background-end: #fafcfa;
  --main-darker: #000;
  --secondary-main: #000;
  --header-background: 34, 34, 34;
  --header-text: #aaa;
  --header-text-highlight: #eee;
  --footer-background: #222;
  --footer-text: #888;
  --footer-text-highlight: #aaa;
  --box-background: #fcfcfc;
  --box-header: var(--ci-primary-main);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: var(--main-background);
  color: var(--main-text);
  font-family: "PT Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

pre,
code {
  font-family: "PT Mono", "Courier New", Courier, monospace;
}

h1,
h2 {
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  background: rgba(var(--header-background), 0.8);
  color: var(--header-text);
  height: 50px;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

.main-header {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  width: 100%;
}

.main-header a {
  color: var(--header-text);
}

.main-header a:hover {
  color: var(--header-text-highlight);
}

.main-header > * {
  padding: 0 15px;
}

@media (max-width: 500px) {
  .main-header nav {
    display: none;
  }
}

.main-header nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.main-header nav ul > li {
  list-style-type: none;
  margin-right: 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 25px;
  background: linear-gradient(180deg, var(--main-background), var(--main-background-end));
}

section.start {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 34pt;
  text-align: center;
  background-image: url(../assets/plants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  padding-top: 125px;
}

section.start p {
  color: #fff;
  text-shadow: 0 0 10px #000;
}

section h3,
section p {
  max-width: 500px;
}

section .technologies .technologies-items ul,
section .technologies .technologies-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section .technologies:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px -2px #000;
}

section .technologies {
  transition: all 0.2s ease-in-out;
  margin: 25px;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "headers technologies";
  background: var(--box-background);
  padding: 25px;
  box-shadow: 0 0 5px -2px #000;
  max-width: 1000px;
}

section .technologies .technologies-header {
  text-align: right;
  padding: 0 25px 0 0;
  margin: 0 25px 0 0;
  box-shadow: 4px 0 5px -5px #000;
  color: var(--box-header);
}

section .technologies .technologies-header li {
  padding: 5px 0;
}

section .technologies:hover .technologies-header li,
section .technologies:hover .technologies-items li {
	opacity: 0.5;
}

section .technologies .technologies-header li:hover,
section .technologies .technologies-header li.active,
section .technologies .technologies-items ul > li:hover,
section .technologies .technologies-items ul > li.active {
	opacity: 1;
  color: var(--box-header);
}

@media (max-width: 500px) {
  section .technologies {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "headers"
      "technologies";
    font-size: smaller;
  }
  section .technologies .technologies-header {
    padding: 0 0 15px;
    margin: 0 0 25px;
    text-align: center;
    box-shadow: 0 4px 5px -5px #000;
  }
  section .technologies .technologies-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section .technologies .technologies-header ul > li {
    padding: 5px 15px;
  }
}

section .technologies .technologies-items {
  display: flex;
  justify-content: flex-end;
}

section .technologies .technologies-items ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0 0;
}

section .technologies .technologies-items ul > li {
  padding: 5px 15px;
}

section .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -25px;
}

section .box h3 {
  color: var(--box-header);
  text-align: center;
}

section .box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px -2px #000;
}

section .box ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
}

section .box ul > li::before {
  content: "·";
  margin: 0 5px;
}

section .box ul > li:last-child::after {
  content: "·";
  margin: 0 5px;
}

section p,
section li {
  color: var(--secondary-text);
}

section .box {
  transition: all 0.1s ease-in-out;
  background: var(--box-background);
  box-shadow: 0 0 3px -1px #000;
  width: 200px;
  margin: 25px;
  padding: 15px;
}

section.contact .contact-ctas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer {
	display: flex;
  background: var(--footer-background);
  color: var(--footer-text);
	align-items: baseline;
	justify-content: center;
	text-align: center;
  padding: 15px;
}

footer a {
  color: var(--footer-text-highlight);
}

.cta,
.cta:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px;
}

.cta .cta-button {
  transition: all 0.1s ease-in-out;
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: x-large;
  background: var(--cta-background);
  color: var(--cta-text-color);
  box-shadow: 0 0 10px -2px #000;
  padding: 8px 15px;
}

.cta .cta-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px -2px #000;
}

.partner {
  display: flex;
}

.partner-item {
  margin: 20px;
}

.small {
  font-size: x-small;
}
